	.plusIcon2 {
		background-image:url(/icons/Polyicons/arrow_turn_left.png);
		background-repeat:no-repeat;
		height:16px;
		width: 16px;
		}
	.backIcon {
		background-image:url(/icons/Polyicons/arrow_turn_left.png);
		background-repeat:no-repeat;
		height:16px;
		width: 16px;
		}
	.plusIcon {
		background-image:url(/icons/Polyicons/plus.gif);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.delIcon {
		background-image:url(/icons/Polyicons/delete.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.refreshIcon {
		background-image:url(/icons/Polyicons/table_refresh.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.deleteIcon {
		background-image:url(/icons/Polyicons/cross.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.save2Icon {
		background-image:url(/icons/Polyicons/table_save.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.printIcon {
		background-image:url(/icons/Polyicons/printer.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.excelIcon {
		background-image:url(/icons/Polyicons/Excel-icon-16.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}

	.brlmmIcon {
		background-image:url(/icons/Polyicons/application_view_tile.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.closeIcon {
			background-image:url(/icons/Polyicons/cross.png);
			background-repeat:no-repeat;
			height:16px;
			width:16px;
		}
	.validIcon {
		background-image:url(/icons/Polyicons/accept-icon-16.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.plusFolderIcon {
		background-image:url(/icons/Polyicons/folder_add.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.progressIcon {
		background-image:url(/icons/Polyicons/radProgressBar_20x10.jpg);
		background-repeat:no-repeat;
		height:16px;
		width:20px;
	}
	.plusUserIcon {
		background-image:url(/icons/Polyicons/user_add.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.plusPatientIcon {
		background-image:url(/icons/Polyicons/18x18_patient_add.png);
		background-repeat:no-repeat;
		height:18px;
		width:18px;
	}
	.runIcon {
		background-image:url(/icons/Polyicons/clicknrun.png);
		background-repeat:no-repeat;
		height:18px;
		width:18px;
	}
	.pluslessIcon {
		background-image:url(/icons/Polyicons/PlusLess.jpg);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.changeIcon {
		background-image:url(/icons/Polyicons/dbarrows.jpg);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.plusDiseaseIcon {
		background-image:url(/icons/Polyicons/pill_add.png);
		background-repeat:no-repeat;
		height:18px;
		width:18px;
	}
	.warn2Icon {
		background-image:url(/icons/Polyicons/warning.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.viewProject {
		background-image:url(/icons/Polyicons/report_magnify.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.oldLogin {
		background-image:url(/icons/Polyicons/application_home.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	
	.testIcon {
		background-image:url(/icons/Polyicons/lightning.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.pedigreeIcon {
		background-image:url(/icons/Polyicons/chart_organisation.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.saveIcon {
		background-image:url(/icons/Polyicons/disk.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.htmlIcon {
		background-image:url(/icons/Polyicons/html.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	.linkProject {
		background-image:url(/icons/Polyicons/link_add.png);
		background-repeat:no-repeat;
		height:16px;
		width:16px;
	}
	
	.spError {
 		 padding: 1px 1px 1px 25px;;
		 white-space: nowrap;
		 font-size: 14px;
		 font-family: Arial, Helvetica, sans-serif;
		 color: #000000;
		 font-weight: bold;
		 text-align: center;
		 background:url(/icons/Polyicons/exclamation.png) no-repeat center left;
		 }
	.spWarning {
 		 padding: 1px 1px 1px 25px;;
		 white-space: nowrap;
		 font-size: 14px;
		 font-family: Arial, Helvetica, sans-serif;
		 color: #000000;
		 font-weight: bold;
		 text-align: center;
		 background:url(/icons/Polyicons/error.png) no-repeat center left;
		 }
	.warnIcon {
 		 padding: 1px 1px 1px 16px;;
		 white-space: nowrap;
		 font-size: 14px;
		 font-family: Arial, Helvetica, sans-serif;
		 color: #000000;
		 font-weight: bold;
		 text-align: center;
		 background:url(/icons/Polyicons/warning.png) no-repeat center left;
		 }
	.multipleIcon {
 		 padding: 1px 1px 1px 16px;;
		 white-space: nowrap;
		 font-size: 14px;
		 font-family: Arial, Helvetica, sans-serif;
		 color: #000000;
		 font-weight: bold;
		 text-align: center;
		 background:url(/icons/Polyicons/text-list-bullets-icon.png) no-repeat center left;
		 }

	.spMessage {
 		 padding: 1px 1px 1px 25px;
		 white-space: nowrap;
		 font-size: 14px;
		 font-family: Arial, Helvetica, sans-serif;
		 color: #000000;
		 font-weight: bold;
		 text-align: center;
		 background:url(/icons/Polyicons/information.png) no-repeat center left;
		 }
.titre {
                padding: 1px 1px 1px 25px;
                margin-left: 100px;
                margin-bottom: 16px;
                white-space: nowrap;
                font-size: 13px;
                font-family: Arial, Helvetica, sans-serif;
                color: #000000;
                font-weight: bold;
                text-align: center;
                background: url(/icons/Polyicons/report_edit.png) no-repeat center left;
            }
			
.titre2 {
                padding: 1px 1px 1px 25px;
                margin-left: 10px;
				margin-right: 100px;
                margin-bottom: 16px;
                white-space: nowrap;
                font-size: 21px;
                font-family: Arial, Helvetica, sans-serif;
                color: #0F1DA2;
                font-weight: bold;
                text-align: center;
            }
.buttonMenu {
    border: 1px solid #006;
	text-align: center;
    margin-left:-1px;	
}

